{%  extends 'base.html'  %}


{% block content %}

<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row">
    
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://i.ibb.co/QCdk31L/1.png">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Zee5 Movies And Series</h2>
              <p class="leading-relaxed text-base">Here, you can get all the Zee5 premium movies and series.</p>
              <button class="flex mx-auto mt-6 text-white bg-red-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"> <a href="/zee5">FORK ZEE5</a></button>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://i.ibb.co/c38TpvK/2.png">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Voot Movies And Series</h2>
              <p class="leading-relaxed text-base">Itat okon o kaj cholchey.</p>
              <button class="flex mx-auto mt-6 text-white bg-red-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">FORK VOOT</button>
            </div>
          </div>
        </div>
      </section>




</div>

{% endblock content %}